@page
@model ProyectoCalidad.Pages.Datos.DashUserModel
@{
    ViewData["Title"] = "DashboardUser";
}
<head>
    <!-- bootstrap css -->
    @*<link href="@Url.Content("~/css/bootstrap.min.css")" rel="stylesheet" />*@
    <!-- style css -->
    <link href="@Url.Content("~/css/style.css")" rel="stylesheet" />
    <!-- Responsive-->
    <link href="@Url.Content("~/css/responsive.css")" rel="stylesheet" />
</head>

<body class="main-layout">
    
              <form>
                    <p>
                        Estacion:ㅤ
                        <select asp-for="ListaEstaciones" asp-items="Model.Estaciones">
                            <option value="">Allㅤㅤ</option>
                        </select><br /><br />
                        Fecha:ㅤ<input type="date" asp-for="SearchString2" />ㅤ
                        Mes:ㅤ<input type="month" asp-for="SearchString4" />ㅤ
                        Serial:ㅤ<input type="text" asp-for="SearchString" />ㅤ
                        Job:ㅤ<input type="text" asp-for="SearchString3" />ㅤ

                        <input type="submit" class="btn btn-info" value="Buscar" /><br />
                    </p>
                </form>                            
                    <hr />
                    <center>
                        <h1>Dashboard User</h1>
                    </center>
                    <hr />
                <table class="table" id="tblData">                    
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Formulario_Model[0].ID_Form)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Formulario_Model[0].ReleaseDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Formulario_Model[0].Semana)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Formulario_Model[0].Mes)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Formulario_Model[0].Anio)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Formulario_Model[0].MesAnio)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Formulario_Model[0].Serial)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Formulario_Model[0].Job)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Formulario_Model[0].Ensamble)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Formulario_Model[0].Tamanio)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Formulario_Model[0].Deteccion)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Formulario_Model[0].Pareto)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Formulario_Model[0].ParetoSN)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Formulario_Model[0].Componente)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Formulario_Model[0].Elemento)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Formulario_Model[0].Remaches)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Formulario_Model[0].Descripcion)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Formulario_Model[0].Estacion)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Formulario_Model[0].Comentarios)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
            <tbody>
            @foreach (var item in Model.Formulario_Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID_Form)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Semana)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Anio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MesAnio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Serial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Job)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ensamble)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tamanio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Deteccion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pareto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ParetoSN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Componente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Elemento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Remaches)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comentarios)
                </td>
                <td>
                    <a asp-page="./DetailsUser" asp-route-id="@item.ID_Form">Details</a> 
                </td>
            </tr>
            }
            </tbody>
        </table>

     <table class="table">
        <thead>
            <tr>
                <th>
                    <a href="#" onclick="Exporter.export(tblData, 'dashboard.xls', 'Dashboard');return false;" class="btn btn-success">Export</a>
                </th>
                <th>
                    <a>⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀</a>
                </th>
                <th>
                    <a asp-page="./DashUser">↩Back to List</a><br />
                </th>
            </tr>
        </thead>
    </table>
    <br />
    <br />
</body>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
        @*<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/2.3.2/js/dataTables.buttons.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
        <script src="https://cdn.datatables.net/buttons/2.3.2/js/buttons.html5.min.js"></script>

    <script>
        $(document).ready(function() {
            $('#tblData').DataTable( {
            dom: 'Bfrtip',
            buttons: [
                'copyHtml5',
                'excelHtml5',
                'csvHtml5',
                'pdfHtml5'
                ]
            });
        });
    </script>*@
}