@page
@model ProyectoCalidad.Pages.Datos.IndexModel
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Dashboard";
}
<head>
    <meta charset="UTF-8">
    <link href="@Url.Content("~/css/style.css")" rel="stylesheet" />    
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/css/styleTables.css")"/>
    <style>
        .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
            background-color: #9EE3FF;
        }
    </style>
</head>
    <body class="main-layout">
              <form>
                    <p>
                        Estacion:ㅤ
                        <select asp-for="ListaEstaciones" asp-items="Model.Estaciones">
                            <option value="">Allㅤㅤ</option>
                        </select><br /><br />
                        Fecha:ㅤ<input type="date" asp-for="SearchString2" />ㅤ
                        Mes:ㅤ<input type="month" asp-for="SearchString4" />ㅤ
                        Serial:ㅤ<input type="text" asp-for="SearchString" />ㅤ
                        Job:ㅤ<input type="text" asp-for="SearchString3" />ㅤ
                        
                        <input type="submit" class="btn btn-info" value="Buscar" /><br />
                    </p>
                </form>
                <hr />
                <center>
                    <h1>Dashboard</h1>
                </center>
                <hr />
  
                <table id="tblData" class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Formulario_Model[0].ID_Form)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Formulario_Model[0].ReleaseDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Formulario_Model[0].Semana)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Formulario_Model[0].Mes)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Formulario_Model[0].Anio)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Formulario_Model[0].MesAnio)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Formulario_Model[0].Serial)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Formulario_Model[0].Job)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Formulario_Model[0].Ensamble)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Formulario_Model[0].Tamanio)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Formulario_Model[0].Deteccion)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Formulario_Model[0].Pareto)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Formulario_Model[0].ParetoSN)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Formulario_Model[0].Componente)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Formulario_Model[0].Elemento)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Formulario_Model[0].Remaches)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Formulario_Model[0].Descripcion)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Formulario_Model[0].Estacion)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Formulario_Model[0].Comentarios)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
        <tbody>
        @foreach (var item in Model.Formulario_Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID_Form)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReleaseDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Semana)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Mes)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Anio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MesAnio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Serial)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Job)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ensamble)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tamanio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Deteccion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Pareto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ParetoSN)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Componente)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Elemento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Remaches)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Estacion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Comentarios)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.ID_Form"><b>Edit</b></a><br/>  
                        <a asp-page="./Details" asp-route-id="@item.ID_Form"><b>Details</b></a> <br/> 
                        <a asp-page="./Delete" asp-route-id="@item.ID_Form"><b>Delete</b></a>
                    </td>
                </tr>
        }
    
        </tbody>
    </table>

    <div style="text-align:center">
        <a asp-page="./Index" style="font-size:14px;"><b>↩Back to List</b></a><br />
    </div>                 
    <hr />
    <br />
    <br />
    
</body>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}            
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/jszip-2.5.0/dt-1.13.1/b-2.3.3/b-html5-2.3.3/r-2.4.0/datatables.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#tblData').DataTable( {
                    dom: "<'row'<'col-sm-12 col-md-5'l><'col-sm-12 col-md-7'f>>" +
                        "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>" +
                        "<'col-sm-12 col-md-5'B>",
            buttons: [
                    {
                        extend: 'excelHtml5',
                        text: 'Excel',
                        className: 'btn btn-success'
                    }
                ],
            responsive: false  
            });
        });
    </script>
}