@page
@model ProyectoCalidad.Pages.T_ParetosModel
@{
    ViewData["Title"] = "GráficasParetos";
    int cont = 0;
}
    <!-- style css -->
    <link href="@Url.Content("~/css/style.css")" rel="stylesheet" />
    <!-- Responsive-->
    <link href="@Url.Content("~/css/responsive.css")" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.2/chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

<body class="main-layout">
    <div class="text-center">
        <h1 class="display-4">Paretos</h1>
    </div>
    <form>
        <p>
            Fecha Inicio: <input type="date" id="FechaI" asp-for="SearchString"/> <a>  </a>
            Fecha Final: <input type="date" id="FechaF" asp-for="SearchString2"/>
            <input type="submit" value="Buscar" class="btn btn-info" />
        </p>
    </form>

    <center>
    <canvas id="myChart2" style="width:100%;max-width:700px"></canvas>
    </center>

    <table class="table table-hover" style="font-size:14px;">
        <thead>
            <tr>
                <th>
                    Fecha
                </th>
                <th>
                    Paretos
                </th>
                <th>
                    Cantidad
                </th>
            </tr>
        </thead>
        <tbody>
            <tbody>
                @foreach (var item in Model.Formulario_Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReleaseDate)
                        </td>
                        <td>
                            @item.Paretos
                        </td>
                        <td>
                            @item.ParetCount
                        </td>
                    </tr>
                    cont = cont + @item.ParetCount;
                } 
                <tr>
                    <td>

                    </td>
                    <td>
                        <strong>Totales:</strong>
                    </td>
                    <td>
                        <strong>@cont</strong>
                    </td>
                </tr>
                 <tr>
                    <td>
                        <h3><a asp-page="./T_Deteccion">Deteccion</a>
                        <a> | </a>
                        <a asp-page="./Graficas">DPU</a></h3> 
                    </td>
                    <td>

                    </td>
                    <td>
                        <a asp-page="./T_Paretos"><b>↩Back to List</b></a>
                    </td>
                </tr>
                <br /><br />
            <center> 
                <h2>  
                    Tabla Paretos
                </h2>
            </center>
        </tbody>     
      </table>
   
      <br />
      @*<button id="download" type="submit">Download</button>*@
    </body>
        @{
            int count = 0;
            //string[] _tags = new string[4];
            string _tags = "";
            int[] _values = new int[100] ;

    @foreach (var item in Model.Formulario_Model)
                    {
                      //_tags[count] = @item.Deteccion;
                      _tags = _tags + "," + @item.Paretos;
                      _values[count] = @item.ParetCount;
                      count++;      
                    } 
            var yourJavaScriptArray = Html.Raw(Json.Serialize(_values));
    <input type="hidden" id="tags" value="@_tags"/>
    <input type="hidden" id="values" value="@yourJavaScriptArray"/>           
        }
    <script>
        if ($('#myChart2').length) {
            var xValues = document.getElementById('tags').value.replace(/\[|\]/g, '').split(',')
            var yValues = Array.from(document.getElementById('values').value.replace(/\[|\]/g, '').split(',')).map(Number)
            xValues.shift()
            var barColors = "red";
            new Chart("myChart2", {
              type: "bar",
              data: {
                labels: xValues,
                datasets: [{
                  backgroundColor: barColors,
                  data: yValues
                }]
              },
              options: {
                legend: {
                    display: false,
                },
                title: {
                  display: true,
                  text: "Gráfica Paretos"
                }
              }
            });

            document.getElementById("download").addEventListener("click", function () {
                var imgData = document.getElementById('myChart2').toDataURL("Descargas/jpeg", 1.0);
                var pdf = new jsPDF();
                pdf.addImage(imgData, 'JPEG', 0, 0);
                pdf.save("download_P.pdf");
            }, false); 
        }
    </script>